.orders-list{
display:flex;
flex-direction:column;
gap:20px;
margin-top:20px;
}

.order-card{
background:#fff;
border-radius:16px;
padding:20px;
box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.order-top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:15px;
}

.order-date{
font-size:13px;
color:#777;
}

.order-middle{
display:flex;
align-items:center;
gap:18px;
}

.order-image{
width:90px;
height:90px;
border-radius:12px;
object-fit:cover;
}

.order-info{
display:flex;
flex-direction:column;
gap:6px;
}

.order-bottom{
display:flex;
justify-content:flex-end;
margin-top:20px;
}

.status{
padding:8px 16px;
border-radius:30px;
color:#fff;
font-weight:700;
font-size:13px;
}

.status.wait{
background:#ff9800;
}

.status.prepare{
background:#1976d2;
}

.status.cargo{
background:#00b894;
}

.status.done{
background:#16a34a;
}